@media screen and (max-width: 992px) and (min-width: 577px) {
  .banner {
    width: auto;
  }
  /*navbar*/
  .nav-item.large {
    display: none;
  }
  .nav-container,
  .nav-bar,
  .nav-container .nav1,
  .nav-container .nav2,
  .nav-container.nav3 {
    /* justify-content: center; */
    /* align-items: center; */
    justify-self: center;
    align-items: center;
  }
  /*thong tin ca nhan*/
  .infor-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    justify-content: center;
  }
  .section-title {
    font-size: 20px;
    text-align: left;
    padding: 20px 0;
    font-weight: bold;
  }
  .mt-40,
  .infor {
    text-align: left;
  }
  /* .job-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    padding: 20px 5px;
  } */
  .job-container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
    margin: 0 50px;
  }
  .job-container h1 {
    font-size: 20px;
    font-weight: bold;
  }
  .job-container li p {
    font-size: 16px;
  }
  .ic-toolbox {
    font-size: 30px;
  }
  .ic-pencil {
    font-size: 30px;
  }
  .ic-telescope {
    font-size: 30px;
  }
  .ic-tools-2 {
    font-size: 30px;
  }
  .languge-content h3,
  .skill-content h3 {
    font-size: 25px !important;
  }
  .languge-content h5,
  .skill-content h5 {
    font-size: 18px;
  }
  /*chứng chỉ- giải thưởng*/
  .certificate-container {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: repeat(5, auto);
    padding: 40px; */
    /* row-gap: 40px; */
  }
  .certificate-img {
    width: 100%;
    height: auto;
    /* height: 60%; */
    /* padding-left: 25px; */
    transition: transform 0.3s ease;
  }
  .web-container,
  .data-container,
  .java-container {
    display: flex;
    flex-direction: column;
  }
  .web-container h3,
  .data-container h3,
  .java-container h3 {
    font-size: 15px;
    font-weight: bold;
  }
  .web-container,
  .data-container {
    padding-right: 20px;
  }
  .certificate-img {
    margin-bottom: 10px;
  }
  /*du an*/
  .project .project-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
  }
  .project-content h3 {
    font-size: 15px;
  }
  .funix-dep1 {
    display: block;
  }
}
