.digital-cv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 12px;
}
.goals,
.scopes {
  grid-column: 1/3;
}
.goals,
.team,
.timeline,
.primary,
.scopes {
  padding: 0 15px;
}
.title {
  border-bottom: 1px solid #bcbcbc;
}
.timeline {
  grid-column: 4/5;
  grid-row: -3/-1;
}
.bordertimeline {
  border-bottom: 1px dashed #66cffc;
}

/* .timeline-content h6 {
  padding: 10px;
} */
.timeline-item {
  display: grid;
  grid-template-columns: 25% 75%;

  border-bottom: 1px;
}
.team1,
.primary1 {
  display: grid;
  grid-template-columns: 25% 75%;
}

.goal1,
.goal2,
.goal3 {
  display: grid;
  grid-template-columns: 25% 75%;
  border-bottom: 1px solid #bcbcbc;
}
.goal1 .flag,
.goal2 .flag,
.goal3 .flag,
.team1 .user,
.primary-content .question {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.number {
  border: 3px solid #66a7fc;
  border-radius: 50%;
  background-color: #4f79b3;
  width: 40px;
  height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 10px;
}

.scopes-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.in,
.out {
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .digital-cv .goals,
  .digital-cv .team,
  .digital-cv .scopes,
  .digital-cv .primary,
  .digital-cv .timeline-item,
  .team-content .team1,
  .goal1,
  .goal2,
  .goal3,
  .team {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
  }
  .team1 .user {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .container .digital-cv,
  .timeline-item,
  .primary1 {
    display: flex;
    flex-direction: column;
  }
  /* .timeline-item {
    justify-content: start;
  } */
}
